---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Art Gallery"
	description="collection of art"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
	the fine arts.
	<ol>
	<li>Photos</li>
	<li>Drawings</li>
	<li>Music</li>
	</ol>
	</p>
</Layout>
